{% extends 'base.html.twig' %}

{% block title %}Edit Contributor{% endblock %}

{% block body %}
    <h1>Edit Contributor</h1>

    {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('contributor_profil', {'contributor': app.user.id }) }}">Annuler</a>
{% endblock %}
