{% extends 'base.html.twig' %}

{% block title %}Edit Contributor{% endblock %}

{% block body %}
    <div class="container">
        <div class="card light-blue darken-4" style="margin-top: 4em; padding-top: 2em">
            <div class="card-content row">
                <h1 class="white-text">Edition du profil</h1>
                <div>
                    {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}
                </div>

            </div>
            <button class="btn" href="{{ path('contributor_profil', {'contributor': app.user.id }) }}">Annuler
            </button>
        </div>
    </div>
{% endblock %}
