{% extends 'base.html.twig' %}

{% block title %}New Contributor{% endblock %}

{% block body %}
    <div class="container">
        <div class="card  grey lighten-5">
            <div class="card-content row">
                <h1>Créer un nouvel utilisateur</h1>

                {{ include('profile/_form.html.twig') }}

                <div class="col s12" style="margin-top: 2em">
                <a class="btn" href="{{ path('app_home') }}">retour a la page d'accueil</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
