{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>
    </div>
    <script>

    </script>
{% endblock %}