{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    <div class="container row align">
        <div class=" card col s12 m8 offset-m2 l6 offset-l3" style="padding: 1em 0 3em 0">
            <card class="card-content">
                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                <div class="container">
                    <h1 class="">Réinitialiser le mot de passe.</h1>

                    {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}
                    <div>
                        <small>
                            Entrez votre adresse email et nous vous enverrons un lien pour réinitialiser le mot de passe.
                        </small>
                    </div>

                    <button class="btn btn-primary">Envoyer mail de réinitilisation du mot de passe</button>
                    {{ form_end(requestForm) }}
                </div>
            </card>
        </div>
    </div>
{% endblock %}
