{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="container row align">
        <div class=" card col s12 m8 offset-m2 l6 offset-l3" style="padding: 1em 0 3em 0">
            <card class="card-content">
                <div class="container">
                    <h1>Réinitialiser le mot de passe</h1>

                    {{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword) }}
                    <button class="btn btn-primary">Réinitialisation mot de passe</button>
                    {{ form_end(resetForm) }}
                </div>
            </card>
        </div>
    </div>
{% endblock %}
