<nav class="light-blue darken-4">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo">ENI Sortie</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="">Acceuil</a></li>
            <li><a href="">Villes</a></li>
            <li><a href="">Campus</a></li>
            <li><a href="">Mon compte</a></li>
            <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav blue-grey darken-4" id="mobile-demo">
    <li><a href="">Acceuil</a></li>
    <li><a href="">Villes</a></li>
    <li><a href="">Campus</a></li>
    <li><a href="">Mon compte</a></li>
    <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
</ul>