<nav class="light-blue darken-4">
    <div class="nav-wrapper container">
        <a href="{{ path('app_home') }}" class="brand-logo">  <img src="img/logo/logo-header.png" width="auto" height="68px"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ path('app_login') }}">Connexion</a></li>

        </ul>
    </div>
</nav>

<ul class="sidenav blue-grey darken-4" id="mobile-demo">
    <li><a href="{{ path('app_home') }}">Acceuil</a></li>
    <li><a href="{{ path('app_login') }}">Connexion</a></li>

</ul>