{% extends 'base.html.twig' %}

{% block title %}Nouvelle ville{% endblock %}

{% block body %}
    <h1>Ajouter un ville</h1>

    {{ include('city/_form.html.twig') }}

    </br>
    <a class="btn" href="{{ path('main_cities') }}">Retour à la liste</a>
{% endblock %}
