{% extends 'base.html.twig' %}

{% block title %}Nouvelle ville{% endblock %}

{% block body %}

    <div class="container row align">
        <div class=" card light-blue darken-4 col s12 m8 offset-m2 l6 offset-l3" style="padding: 1em 0 3em 0">
            <card class="card-content">
                <div class="col m8 offset-m2">
                    <h1 class="white-text">Ajouter</h1>
                {{ include('city/_form.html.twig') }}
            </div>
        </div>
        <a class="btn" href="{{ path('main_cities') }}">Retour à la liste</a>
    </div>
    </div>

{% endblock %}
