{% extends 'base.html.twig' %}

{% block title %}Edit City{% endblock %}

{% block body %}
    <h1>Editer une ville</h1>

    {{ include('city/_form.html.twig', {'button_label': 'Mise à jour'}) }}
</br>
    <a class="btn" href="{{ path('main_cities') }}">Retour à la liste des villes</a>
{% endblock %}
