{% extends 'base.html.twig' %}
{% block body %}
    {% if app.user %}
I AM CONNECTED!!!!
    {% else %}
        <div class="container">
            <div class="card light-blue">
                <div class="card-content row">
                    <img src="img/logo/White logo - no background.png" width="100%" height="auto">
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}