{% extends 'base.html.twig' %}
{% block title %}ENI-Sortie - Accueil{% endblock %}
{% block body %}
        <div id="inner">
            <div class="container">
                <div class="card light-blue">
                    <div class="card-content row">
                        <img src="img/logo/White logo - no background.png" width="100%" height="auto">
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
