{% extends 'base.html.twig' %}
{% block body %}
    {% if app.user %}
I AM CONNECTED!!!!
    {% else %}
        <div class="container">
            <div class="card light-blue">
                <div class="card-content row">
                    <h1>Bienvenue sur ENI sortie!!!</h1>
                    <img src="img/logo.png" width="300" height="300">
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}